{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
            {"LICENSE", #{title => "License"}},
            {"BACKLOG.md", #{title => "Backlog"}},
            {"CHANGELOG.md", #{title => "Changelog"}},
            {"README.md", #{title => "Overview"}}
    ]},
    {main, "api-reference.html"},
    {source_url, "https://github.com/thetelefon/erl_bencode"},
    %{assets, "assets"}
    {api_reference, true}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

