{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [rebar3_hex, rebar3_ex_doc, rebar3_codecov]}.

{ex_doc, [
    {extras, [
            {"LICENSE", #{title => "License"}},
            {"BACKLOG.md", #{title => "Backlog"}},
            {"CHANGELOG.md", #{title => "Changelog"}},
            {"README.md", #{title => "Overview"}}
    ]},
    {main, "api-reference.html"},
    {source_url, "https://github.com/thetelefon/erl_bencode"},
    %{assets, "assets"}
    {api_reference, true}
]}.

{provider_hooks,
 [
  %% Use ct, eunit, or both if you test your project with both frameworks.
  {post, [{ct, {codecov, analyze}}]},
  {post, [{eunit, {codecov, analyze}}]}
 ]}.

{cover_enabled, true}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

